.mpy1{margin-left: 63px;
margin-top: 15px;
vertical-align: bottom;}

.mpy2{
	width: 115px;
	height: 34px;
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	margin-left: 64px;
}

.mpy3{
	width: 150px;
	height: 34px;
	flex-shrink: 0;
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	margin-left: 88px;
	}

.mpy4{width: 133px;
height: 34px;
color: #8D81FF;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
margin-left: 81px;
}


.mpy5{border: 1px solid #000;
background: #5012D5;
display: inline-block;
width: 50px;
height: 50px;
margin-left: 10px;
padding-left: 11px;
padding-top: 10px;
color: #84FF81;
font-size: 24px;
margin-top: 66px;
}
.mpy6{color: #8D81FF;font-family: FiraGO;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;width: 70px;
height: 34px;
margin-left: 10px}
.mpy7{width: 578px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;margin-left: 10px;
margin-bottom: 10px}
.mpy8{margin-left: 15px;
display: inline-block; }
.mpy9{width: 778px;
height: 280px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
margin-left: 66px;
vertical-align: top;}
.mpy10{border: 1px solid #000;
background: #5012D5;
display: block;
width: 50px;
height: 50px;
margin-left: 10px;
padding-left: 11px;
padding-top: 10px;
color: #84FF81;
font-size: 24px;
margin-top: 66px;
}
.mpy11{color: #8D81FF;font-family: FiraGO;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;width: 70px;
height: 34px;
margin-left: 10px}
.mpy12{width: 578px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;margin-left: 10px;
margin-bottom: 10px}
.mpy13{margin-left: 15px;
display: inline-block;}
.mpy14{width: 778px;
height: 280px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
margin-left: 66px;
vertical-align: top;}
.mpy15{border: 1px solid #000;
background: #5012D5;
display: block;
width: 50px;
height: 50px;
margin-left: 10px;
padding-left: 11px;
padding-top: 10px;
color: #84FF81;
font-size: 24px;
margin-top: 66px;}
.mpy16{color: #8D81FF;font-family: FiraGO;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;width: 70px;
height: 34px;
margin-left: 10px}
.mpy17{width: 578px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;margin-left: 10px;
margin-bottom: 10px}
.mpy18{margin-left: 15px;
display: inline-block;}
.mpy19{width: 1021px;
height: 148px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 15px;
margin-top: 32px}
.mpy20{margin-left: 98px;
margin-top: 143px;
margin-right: 41px;}
.mpy21{margin-right: 0px}
.mpy22{margin-left: 63px;
margin-top: 15px;vertical-align: bottom;}

.mpy23{width: 115px;
height: 34px;
color: #8D81FF;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal; display: inline-block;
margin-left: 60px;
margin-right: 86px;
}

.mpy24{width: 150px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;display: inline-block;
margin-right: 81px;}

.mpy25{width: 133px;
height: 34px;
color: #8D81FF;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;}

.mpy26{margin-left: 194px;
margin-top: 102px;
display: block;}
.mpy27{width: 150px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 103px;
display: inline-block;
margin-left: 194px;
}
.mpy28{width: 2px;
height: 24px;
background: #5012D5;
display: inline-block;
}
.mpy29{width: 484px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
margin-left: 17px;}

.mpy30{width: 500px;
height: 192px;
background: #E7E7E7;
margin-left: 194px;
margin-bottom: 20px;
display: inline-block ;
vertical-align: top;
}
.mpy31{padding-top: 21px;
padding-left: 23px;
padding-right: 170px;
padding-bottom: 29px;
color: #3F4145;
font-family: "Helvetica Neue LT GEO";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;}
.mpy32{width: 77px;
height: 77px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
display: inline-block;
margin-left: 36px;
margin-right: 37px;
}
.mpy33{width: 335px;
height: 95px;
color: #7E8898;
font-family: "Helvetica Neue LT GEO";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
}
.mpy34{width: 500px;
height: 192px;
background: #E7E7E7;
margin-left: 30px;
display: inline-block;
vertical-align: top;}
.mpy35{color: #3F4145;
font-family: "Helvetica Neue LT GEO";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;padding-left: 23px;
padding-right: 170px;
padding-bottom: 29px;}
.mpy36{width: 77px;
height: 77px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
display: inline-block;
margin-left: 36px;
margin-right: 37px;}
.mpy37{width: 335px;
height: 95px;
color: #7E8898;
font-family: "Helvetica Neue LT GEO";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;}
.mpy38{margin-left: 194px;
margin-top: 143px;
margin-right: 41px;}
.mpy40{margin-left: 43px;
margin-top: 15px;vertical-align: bottom;}

.mpy41{margin-left: 63px;
margin-top: 15px;vertical-align: bottom;
}
.mpy42{width: 115px;
height: 34px;
color: #8D81FF;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal; display: inline-block;
margin-left: 60px;
margin-right: 20px;
}
.mpy43{width: 133px;
height: 34px;
color: #8D81FF;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
margin-left: 71px;
margin-right: 81px;
}
.mpy44{width: 150px;
height: 34px;
color: #4E6FAE;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;display: inline-block;
margin-right: 81px;}
.mpy45{width: 1660px;
height: 735px;
background: #E7E7E7;
margin-top: 16px;
display: inline-block;}
.mpy46{
height: 34px;
color: #4E6FAE;
font-family: "Helvetica Neue";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 165px;
padding-top: 105px;
}
.mpy47{color: #3F4145;
font-family: "Helvetica Neue LT GEO";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 166px;
padding-top: 60px;
}
.mpy48{color: #3F4145;
font-family: "Helvetica Neue LT GEO";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 165px;
padding-top: 20px;
}
.mpy49{color: #3F4145;
font-family: "Helvetica Neue LT GEO";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 165px;padding-top: 20px;
;vertical-align: top;}
.mpy50{display: inline-block;vertical-align: top;width: 944px;
height: 485px; vertical-align: middle;
margin-top: 150px}
.mpy51{display: inline-block;}